body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	outline: 0;
	line-height: 1;
	font-family: "HY-XiZYJ", "HY_XiZYJ", Arial;
	color: #666;
	font-size: 14px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #666;
}

ol,
ul {
	list-style: none;
}