<!doctype html>
<html class="no-js" ng-app="ngApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
</head>

<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <strong>Amaze UI</strong> <small>后台管理模板</small>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li>
                    <a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a>
                </li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
							<span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
						</a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="#"><span class="am-icon-user"></span> 资料</a>
                        </li>
                        <li>
                            <a href="#"><span class="am-icon-cog"></span> 设置</a>
                        </li>
                        <li>
                            <a href="#"><span class="am-icon-power-off"></span> 退出</a>
                        </li>
                    </ul>
                </li>
                <li class="am-hide-sm-only">
                    <a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="am-cf admin-main">
        <!-- sidebar start -->
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li>
                        <a href="admin-index.html"><span class="am-icon-home"></span> 首页</a>
                    </li>
                    <li>
                        <a href="admin-table.html"><span class="am-icon-table"></span> 表格</a>
                    </li>
                    <li>
                        <a href="ueditor-1.4.3.3/_examples/completeDemo.html"><span class="am-icon-pencil-square-o"></span> 编辑器</a>
                    </li>
                    <li>
                        <a href="#"><span class="am-icon-sign-out"></span> 注销</a>
                    </li>
                </ul>
                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-bookmark"></span> 公告</p>
                        <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                    </div>
                </div>
                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-tag"></span> wiki</p>
                        <p>Welcome to the Amaze UI wiki!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
            <div class="admin-content" id="demo">
                <div class="admin-content-body">
                    <div class="am-cf am-padding am-padding-bottom-0">
                        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
                    </div>
                    <hr>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span><a href="./admin-user.html?edit=1">新增</a> </button>
                                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}" v-model="type" @change="showtype" >
                                    <option value="salary" disabled="">类型</option>
                                    <option value="">全部</option>
                                    <option value="pop">流行</option>
                                    <option value="sell">新款</option>
                                    <option value="new">精选</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3" ng-controller="searchCtrl">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" v-model="findmsg">
                                <span class="am-input-group-btn">
	            <button class="am-btn am-btn-default" type="button" @click="showtype()">搜索</button>
	          </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g" ng-controller="contentCtrl">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check">
                                                <input type="checkbox" />
                                            </th>
                                            <th class="table-id">iid</th>
                                            <th class="table-title">商品标题</th>
                                            <th class="table-type">商品价格</th>
                                            <th class="table-author am-hide-sm-only">货源地</th>
                                             <th class="table-author am-hide-sm-only">类型</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                   	<tbody>	 <!-- 列表 -->
                                        <tr v-for="(lis,index) of list" :key="index" >
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                            <td>{{lis.iid}}</td>
                                            <td>
                                                <a href="javascript:;">{{lis.title}}</a>
                                            </td>
                                            <td class="am-hide-sm-only">{{lis.price}}</td>
                                            <td class="am-hide-sm-only">{{lis.city}}</td>
                                            <td class="am-hide-sm-only">{{lis.sort}}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="change am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a :href="'./admin-user.html?edit=2&id='+lis.id">编辑</a></button>
                                                        <button class="delete am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" v-del="" @click="dellist(lis.id)"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <p class="count"></p>
                                    <div class="am-fr">
                                        <ul class="am-pagination" ng-controller="pageCtrl">
                                            <li>
                                                <a href="#">«</a>
                                            </li>
                                            <li  v-for="(cou,index) of count" :class="{'am-active':isshowpage==index}" :key="index" @click="getgoods(index)">
                                                <a href="#">{{cou+1}}</a>
                                            </li>
                                            <li>
                                                <a href="#">»</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr />
                                <p>注：.....</p>
                            </form>
                        </div>
                    </div>
                </div>
                <footer class="admin-content-footer">
                    <hr>
                    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
                </footer>
            </div>
        <!-- content end -->
    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
    <footer>
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
</body>
<script src="js/vue2.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/table.js"></script>

</html>